@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8645658947172619) 0%,
        rgba(0, 0, 0, 0) 35%,
        rgba(0, 0, 0, 0.8253502084427521) 100%
    );
    transition: all;
    transition-delay: 150ms;
    transition-timing-function: ease-in-out;
}

.poster-wrapper:hover .gradient {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8645658947172619) 0%,
        rgba(0, 0, 0, 0.6460784997592788) 35%,
        rgba(0, 0, 0, 0.8253502084427521) 100%
    );
    transition: all;
    transition-delay: 150ms;
    transition-timing-function: ease-in-out;
}

@media only screen and (min-width: 360px) {
    /* Background image source: https://unsplash.com/photos/wMkaMXTJjlQ */
    .hero-bg {
        background-image: radial-gradient(
                circle,
                rgba(0, 0, 0, 0.8645658947172619) 0%,
                rgba(0, 0, 0, 0.6824930655856092) 35%,
                rgba(0, 0, 0, 0.8253502084427521) 100%
            ),
            url("../public/hero-bg-mobile.jpg");
    }
}

@media only screen and (min-width: 1024px) {
    /* Background image source: https://unsplash.com/photos/BQTHOGNHo08 */
    .hero-bg {
        background-image: radial-gradient(
                circle,
                rgba(0, 0, 0, 0.8645658947172619) 0%,
                rgba(0, 0, 0, 0.6824930655856092) 35%,
                rgba(0, 0, 0, 0.8253502084427521) 100%
            ),
            url("../public/hero-bg.jpg");
    }
}

.login-bg {
    background-image: radial-gradient(
            circle,
            rgba(0, 0, 0, 0.8645658947172619) 0%,
            rgba(0, 0, 0, 0.6824930655856092) 35%,
            rgba(0, 0, 0, 0.8253502084427521) 100%
        ),
        url("../public/cine-login2.jpg");
}
